/** GLOBAL TO LINKS **/
a {
  transition: all 0.25s ease;
}

.is-fullwidth {
  width: 100%;
}
.is-justified-center {
  justify-content: center !important;
}
.is-justified-start {
  justify-content: flex-start !important;
}
.is-justified-end {
  justify-content: flex-end !important;
}
.is-justified-space-between {
  justify-content: space-between !important;
}

/** Header Styles **/
.headers {
  font-family: $family-secondary;
  font-weight: $weight-normal;
  margin-bottom: 1rem;
  &:not(:first-child) {
    margin-top: 0 !important;
  }
  &.heading-with-background {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $ghost-grey;
    font-size: $size-3;
  }
  &.heading-with-contrast {
    margin-bottom: .5rem;
    border-bottom: 10px solid $ben-franklin-blue;
    font-size: $size-2;
  }
  &.is-size-1, &.is-1 {
    line-height: 2.5rem;
  }
  &.is-size-2, &.is-2 {
    line-height: 2rem;
  }
  &.is-size-3, &.is-3 {
    line-height: 1.5rem;
  }
  &.is-size-4, &.is-size-5, &.is-size-6, &.is-size-7, &.is-4, &.is-5, &.is-6, &.is-7{
    line-height: 1.5rem;
  }
  &.title {
    font-weight: $weight-normal;
    &.is-1 {
      line-height: 2.5rem;
    }
    &.is-2 {
      line-height: 2rem;
    }
    &.is-3 {
      line-height: 1.5rem;
    }
    &.is-4, &.is-5, &.is-6, &.is-7 {
      line-height: 1.5rem;
    }
  }
  &.subtitle {
    font-family: $family-sans-serif;
    font-weight: $weight-normal;
    &.is-1 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    &.is-2 {
      font-size: $size-3;
      line-height: 1.5rem;
    }
    &.is-3 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &.is-4, &.is-5, &.is-6, &.is-7 {
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  &.subtitle, &.title {
    margin-bottom: 0;
  }

  &.title + .subtitle {
    margin-bottom: 1rem !important;
  }

  &.subtitle + .title {
    margin-bottom: 1rem !important;
  }

  &.subtitle:not(.is-spaced) + .title {
    margin-top: 0;
  }

  &.title:not(.is-spaced) + .subtitle {
    margin-top: 0;
  }

  &.title:not(:last-child) {
    margin-bottom: 0;
  }

  &.subtitle:not(:last-child) {
    margin-bottom: 0 !important;
  }
}

.content {

  padding: 1.5rem;
  h1, h2, h3, h4, h5, h6, div {
    @extend .headers;
  }
  p {
    font-family: $family-sans-serif;
    font-size: $size-medium;
    line-height: $line-height-medium;

    &.is-large {
      font-size: $size-large;
      line-height: $line-height-large;
    }

    &.is-small {
      font-size: $size-small;
    }
  }
}


// h1 {
//   line-height: 2.5rem;
// }

// h2 {
//   line-height: 2rem;
// }

// h3, h4 {
//   line-height: 1.5rem;
// }


/** Custom Styles **/
.table-responsive {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.tabs {
  & + .fix-margin {
    margin-top: -1.5rem;
    padding-top: 1.5rem;
  }
  &.is-boxed + .tabs-container {
    border: 1px solid $tabs-border-bottom-color;
    border-top: 0;
  }
}

.tabs-container {
  padding: $tabs-link-padding;
}

.container {
  &.main {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.font-sizes {
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium, &.is-normal {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }
}

.button {
  border-width: 0.25rem;
  font-weight: $weight-semibold;
  border-color: transparent;

  &:focus {
    &:not(:active) {
      box-shadow: 0 0 0 0.25em $electric-blue !important;
    }
  }

  &.is-primary, &.is-secondary, &.is-danger, &.is-cta {
    &:hover {
      background-color: $grey-dark;
      border-color: $grey-dark;
      color: $white;
    }
    &:active {
      background-color: $black;
      border-color: $black;
      color: $white;
    }
    &:disabled {
      background-color: $sidewalk-grey;
      border-color: $sidewalk-grey;
      color: $white;
    }
  }

  &.is-secondary {
    @extend .is-primary, .is-outlined;
    border-width: 0.125rem;
    color: $ben-franklin-blue;
    border-color: $ben-franklin-blue;
    &:focus:not(:active) {
      background-color: $white;
      color: $ben-franklin-blue;
      border-color: $ben-franklin-blue;
    }
    &:disabled {
      background-color: $white !important;
      border-color: $sidewalk-grey !important;
      color: $sidewalk-grey !important;
      border-width: 0.125rem !important;
    }
  }

  &.is-tertiary {
    border: 0 !important;
    color: $primary;
    &:focus {
      &:not(:active) {
        border-color: transparent !important;
        border-width: 0;
        box-shadow: 0 0 0 0.25em $electric-blue !important;
      }
    }
    &:hover {
      background-color: $ben-franklin-blue;
      border-color: $ben-franklin-blue;
      color: $white !important;
    }
    &:active {
      background-color: $grey-dark;
      border-color: $grey-dark;
      color: $white;
    }
    &:disabled {
      color: $sidewalk-grey;
      &:hover {
        background-color: $white;
        color: $sidewalk-grey !important;
      }
    }
  }

  &.is-cta, input[type='submit'] {
    font-family: $family-secondary;
    font-weight: $weight-bold;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    color: $ben-franklin-blue-dark;
    border-color: $ben-franklin-blue-dark;
    background-color: transparent;
    &:not(.is-tertiary):not(.is-secondary) {
      background-color: $ben-franklin-blue-dark;
      border-color: transparent;
      color: $white;
      &:disabled {
        background-color: $sidewalk-grey;
      }
    }
    &:disabled {
      background-color: transparent;
      color: $sidewalk-grey;
    }
  }

  @extend .font-sizes;

  &.is-small {
    padding: 0.5rem 1rem;
    border-radius: 0;
  }

  &.is-medium, &.is-normal {
    padding: 0.75rem 1.5em;
  }

  &.is-large {
    padding: 1rem 2rem;
  }

  @include until($tablet) {
    width: 100%;
  }
}

.is-link {
  @extend .font-sizes;
  font-weight: $weight-semibold;
  border: 0;
  color: $primary;
  &:focus {
    border-color: transparent;
    outline-width: 0;
    &:not(:active) {
      border-color: transparent !important;
      border-width: 0;
      border-radius: 0;
      box-shadow: 0 0 0 0.25em $electric-blue !important;
    }
  }
  &:hover {
    background-color: $ben-franklin-blue;
    border-color: $ben-franklin-blue;
    color: $white !important;
  }
  &:active {
    background-color: $grey-dark;
    border-color: $grey-dark;
    color: $white;
  }
  .icon {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

table {
  &.is-align-middle {
    td,
    th {
      vertical-align: middle;
    }
  }
}

/** LAYOUT SETTINGS **/
#app {
  padding: 78px 0 46px 0;

  > header, > footer {
    position: fixed;
    width: 100%;
    left: 0;
  }

  header {
    z-index: 10;
    top: 0;
  }

  footer {
    z-index: 9;
    bottom: 0;
  }

  > main {
    width: 100%;
    display: block;
  }

  @include until($tablet) {
    padding-top: 135px;
    > main {
      display: block;
      padding: 0 1rem 0;
    }
  }
}
/**********************/
