// GLOBAL TO LINKS
a {
  transition: all 0.25s ease;
}

.is-fullwidth {
  width: 100%;
}
.is-justified-center {
  justify-content: center !important;
}
.is-justified-start {
  justify-content: flex-start !important;
}
.is-justified-end {
  justify-content: flex-end !important;
}
.is-justified-space-between {
  justify-content: space-between !important;
}

header,
footer {
  a {
    color: #fff;
    &:hover {
      color: $electric-blue !important;
    }
  }
}

/** Custom Styles **/
.table-responsive {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.tabs {
  & + .fix-margin {
    margin-top: -1.5rem;
    padding-top: 1.5rem;
  }
  &.is-boxed + .tabs-container {
    border: 1px solid $tabs-border-bottom-color;
    border-top: 0;
  }
}

.tabs-container {
  padding: $tabs-link-padding;
}

.container {
  &.main {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

table {
  &.is-align-middle {
    td,
    th {
      vertical-align: middle;
    }
  }
}
