
/** GLOBAL TO LINKS **/
a {
  transition: all 0.25s ease;
}

.is-fullwidth {
  width: 100%;
}
.is-justified-center {
  justify-content: center !important;
}
.is-justified-start {
  justify-content: flex-start !important;
}
.is-justified-end {
  justify-content: flex-end !important;
}
.is-justified-space-between {
  justify-content: space-between !important;
}

/** Header Styles **/
h1, h2, h3, h4, h5, h6 {
  font-family: $family-secondary;
  font-weight: $weight-normal;
  &.title {
    font-weight: $weight-normal;
    &.heading-with-background {
      margin-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: $ghost-gray;
    }
    &.heading-with-contrast {
      margin-bottom: .5rem;
      border-bottom: 10px solid $ben-franklin-blue;
    }
  }
}

/** Custom Styles **/
.table-responsive {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.tabs {
  & + .fix-margin {
    margin-top: -1.5rem;
    padding-top: 1.5rem;
  }
  &.is-boxed + .tabs-container {
    border: 1px solid $tabs-border-bottom-color;
    border-top: 0;
  }
}

.tabs-container {
  padding: $tabs-link-padding;
}

.container {
  &.main {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.button {
  padding: 0px 1rem;
  font-weight: $weight-semibold;
  background-color: $electric-blue;
  border-color: $electric-blue;
  text-transform: uppercase;
  &:hover {
    background-color: $dark-gray;
    border-color: $dark-gray;
    color: $white;
  }

  &:disabled {
    background-color: $sidewalk;
    border-color: $sidewalk;
    opacity: 0.8;
    &:hover {
      color: $dark-gray;
    }
  }

  @include until($tablet) {
    width: 100%;
  }
}

table {
  &.is-align-middle {
    td,
    th {
      vertical-align: middle;
    }
  }
}

/** LAYOUT SETTINGS **/
#app {
  padding: 78px 0 46px 0;

  > header, > footer {
    position: fixed;
    width: 100%;
    left: 0;
  }

  header {
    z-index: 10;
    top: 0;
  }

  footer {
    z-index: 9;
    bottom: 0;
  }

  > main {
    width: 100%;
    display: block;
  }

  @include until($tablet) {
    padding-top: 135px;
    > main {
      display: block;
      padding: 0 1rem 0;
    }
  }
}
/**********************/
