@import './colors.scss';
@import './derived-colors.scss';
@import './fonts.scss';

$family-sans-serif: 'Open Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$family-secondary: Montserrat, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$radius: 0;

$radius-large: 0;
$notification-padding: 1rem 2.5rem 1rem 1rem;

// NAVBAR OVERRIDES
$navbar-item-img-max-height: 75px;
$navbar-padding-vertical: 0.5rem;
$navbar-padding-horizontal: 1rem;
$navbar-background-color: $dark-ben-franklin;
$navbar-item-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $electric-blue;

$navbar-dropdown-radius: 0;
$navbar-dropdown-boxed-radius: 0;
$navbar-dropdown-boxed-shadow: none;

// FOOTER OVERRIDES
$footer-background-color: $dark-ben-franklin;
$footer-padding: rem-calc(10px);
$footer-color: $white;

// INPUT OVERRIDES
$input-background-color: $ghost-gray;
$input-focus-box-shadow-size: none;
$input-border-color: transparent;
$input-hover-border-color: transparent;
$input-focus-border-color: $electric-blue;
$input-shadow: none;

// TABS
$tabs-boxed-link-hover-background-color: none;
$tabs-link-hover-color: $dark-ben-franklin;

// TABLES
$table-striped-row-even-background-color: $ghost-gray;

// MODALS
$modal-content-width: 760px;
$modal-card-head-padding: 15px;
$modal-card-body-padding: 15px;

//TITLE OVERRIDE
$title-line-height: 1.4;