// @import '../base.scss';
@import '../../styles/inputs.scss';

.input-text {
  label {
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 5;
    font-size: 10px;
    color: #909090;
    font-weight: 300;
    opacity: 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  input[type="tell"],
  input[type="number"] {
    &:focus {
      border-width: 2px;
      padding-bottom: 0;
      + label {
        opacity: 1;
      }
    }
  }
}
