main {
  padding: 1rem;
  display: block;
}

a {
  transition: all 0.25s ease;
}

.is-fullwidth {
  width: 100%;
}
.is-justified-center {
  justify-content: center !important;
}
.is-justified-start {
  justify-content: flex-start !important;
}
.is-justified-end {
  justify-content: flex-end !important;
}
.is-justified-space-between {
  justify-content: space-between !important;
}

/** Custom Styles **/
.table-responsive {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.tabs {
  & + .fix-margin {
    margin-top: -1.5rem;
    padding-top: 1.5rem;
  }
  &.is-boxed + .tabs-container {
    border: 1px solid $tabs-border-bottom-color;
    border-top: 0;
  }
}

.tabs-container {
  padding: $tabs-link-padding;
}

@mixin font-sizes {
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium, &.is-normal {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }
}

.is-link {
  @include font-sizes;
  font-weight: $weight-semibold;
  border: 0;
  color: $primary;
  &:focus {
    border-color: transparent;
    outline-width: 0;
    &:not(:active) {
      border-color: transparent !important;
      border-width: 0;
      border-radius: 0;
      box-shadow: 0 0 0 0.25em $electric-blue !important;
    }
  }
  &:hover {
    background-color: $ben-franklin-blue;
    border-color: $ben-franklin-blue;
    color: $white !important;
  }
  &:active {
    background-color: $grey-dark;
    border-color: $grey-dark;
    color: $white;
  }
  .icon {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

table {
  &.is-align-middle {
    td,
    th {
      vertical-align: middle;
    }
  }
}