main {
  padding: 2rem 0;
  display: block;
}

.container {
  @media screen and (max-width:1024px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media screen and (max-width:500px) {
    padding-left: .75rem;
    padding-right: .75rem;
  }
}


a {
  transition: all 0.25s ease;
  &.is-link {
    @include link;
  }
  &.is-link.is-small {
    @include small-link;
  }
}

.is-fullwidth {
  width: 100%;
}

.is-justified-center {
  justify-content: center !important;
}
.is-justified-start {
  justify-content: flex-start !important;
}
.is-justified-end {
  justify-content: flex-end !important;
}
.is-justified-space-between {
  justify-content: space-between !important;
}

.is-link {
  @include font-sizes;
  font-weight: $weight-semibold;
  border: 0;
  color: $primary;
  &:focus {
    border-color: transparent;
    outline-width: 0;
    &:not(:active) {
      border-color: transparent !important;
      border-width: 0;
      border-radius: 0;
      box-shadow: 0 0 0 0.25em $electric-blue !important;
    }
  }
  &:hover {
    background-color: $ben-franklin-blue;
    border-color: $ben-franklin-blue;
    color: $white !important;
  }
  &:active {
    background-color: $grey-dark;
    border-color: $grey-dark;
    color: $white;
  }
  .icon {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}