
.button, .button.is-medium, .button.is-default {
  border-width: 0.125rem;
  border-color: transparent;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  border-radius: 0 !important;
  font-family: $family-secondary !important;
  font-weight: $weight-semibold !important;
  height: 3rem;
  &.is-small {
    padding: 0.5rem 1rem;
    height: 2.5rem;
  }
  &.is-large {
    font-size: 1.125rem;
    padding: 1rem 2rem;
    height: 3.5rem;
  }
  &:focus {
    &:not(:active) {
      box-shadow: 0 0 0 0.25em $electric-blue !important;
    }
  }
  &.is-primary, &.is-secondary, &.is-danger, &.is-cta {
    &:hover {
      background-color: $grey-dark;
      border-color: $grey-dark;
      color: $white;
    }
    &:active {
      background-color: $black;
      border-color: $black;
      color: $white;
    }
    &:disabled {
      background-color: $sidewalk-grey;
      border-color: $sidewalk-grey;
      color: $white;
    }
  }
  &.is-secondary {
    @extend .is-primary;
    @extend .is-outlined;
    color: $ben-franklin-blue;
    border-color: $ben-franklin-blue;
    &:focus:not(:active) {
      background-color: $white;
      color: $ben-franklin-blue;
      border-color: $ben-franklin-blue;
    }
    &:disabled {
      background-color: $white !important;
      border-color: $sidewalk-grey !important;
      color: $sidewalk-grey !important;
      border-width: 0.125rem !important;
    }
  }

  &.is-tertiary {
    border-color: transparent;
    color: $primary;
    &:focus {
      &:not(:active) {
        background-color: $white;
        color: $ben-franklin-blue;
        border-color: transparent;
      }
    }
    &:hover {
      background-color: $grey-dark;
      border-color: $ben-franklin-blue;
      color: $white !important;
    }
    &:active {
      background-color: $black;
      border-color: $grey-dark;
      color: $white;
    }
    &:disabled {
      color: $sidewalk-grey;
      &:hover {
        background-color: $white;
        color: $sidewalk-grey !important;
      }
    }
  }

  &.is-cta, input[type='submit'] {
    color: $ben-franklin-blue-dark;
    border-color: $ben-franklin-blue-dark;
    background-color: transparent;
    &:not(.is-tertiary):not(.is-secondary) {
      &:hover {
        background-color: $grey-dark;
      }
      &:active {
        background-color: $black;
      }
      background-color: $ben-franklin-blue-dark;
      border-color: transparent;
      color: $white;
      &:disabled {
        background-color: $sidewalk-grey;
      }
    }
    &:disabled {
      background-color: transparent;
      color: $sidewalk-grey;
    }
  }
}