/*
Content Styles
Styles built on top of the Bulma .content class
*/

@import "mixins";

.content {
  h1 {
    @include heading-1;
  }

  h2 {
    @include heading-2;
  }

  h3 {
    @include heading-3;
  }

  h4 {
    @include heading-4;
  }

  h5 {
    @include heading-5;
  }

  h6 {
    @include heading-6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include headings-set-sizes;
  }

  a {
    @include link;
  }

  .is-small a,
  a.is-small {
    @include small-link;
  }

  p {
    font-family: $family-sans-serif;
    font-size: $size-medium;
    line-height: $line-height-medium;

    &.is-large {
      font-size: $size-large;
      line-height: $line-height-large;
    }

    &.is-small {
      a {
        @include small-link;
      }
    }
  }

  ul:not(:last-child),
  ol:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  ul,
  ol {
    margin-top: 0;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
  }

  ul li,
  ol li {
    margin: 0;
    line-height: 2rem;
  }

  p + ul,
  p + ol {
    margin-top: -0.5rem;
  }

  blockquote {
    border: 0;
  }

  table {
    @include table-styles;
  }
}
