.content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $family-secondary;
    font-weight: $weight-normal;
    margin-bottom: 0;
    line-height: 1.25;
    &:not(:first-child) {
      margin-top: 0 !important;
    }
    &.heading-with-background {
      margin-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: $ghost-grey;
      font-size: $size-3;
    }
    &.heading-with-contrast {
      margin-bottom: .5rem;
      border-bottom: 10px solid $ben-franklin-blue;
      font-size: $size-2;
    }

    &.title {
      @include deprecated-title-sizes;
      font-weight: $weight-normal;
      margin-bottom: 1rem;
    }

    &.title + .subtitle {
      margin-top: -1rem !important;
      margin-bottom: 1rem !important;
    }

    &.title:not(.is-spaced) + .subtitle {
      margin-top: 1rem;
    }

  }

  div {
    &.subtitle {
      font-family: $family-sans-serif;
      font-weight: $weight-normal;
      @include deprecated-subtitle-sizes;
    }
    &.subtitle {
      margin-bottom: 0;
    }
    &.subtitle + .title {
      margin-bottom: 1rem !important;
    }
    &.subtitle:not(.is-spaced) + .title {
      margin-top: 0;
    }
  }
}
